apiVersion: apps/v1
kind: Deployment
metadata:
  name: fullstack-deployment
  labels:
    app: fullstack
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fullstack
  template:
    metadata:
      labels:
        app: fullstack
      annotations:
        argocd-image-updater.argoproj.io/image-list: fullstack=himani708/fullstack
        argocd-image-updater.argoproj.io/fullstack.update-strategy: latest
        argocd-image-updater.argoproj.io/fullstack.allow-tags: regexp:^\d+$
        argocd-image-updater.argoproj.io/write-back-method: git
        argocd-image-updater.argoproj.io/git-branch: main
    spec:
      containers:
      - name: fullstack
        image: himani708/fullstack:6
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: fullstack-service
spec:
  selector:
    app: fullstack
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: LoadBalancer
